/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
       combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        
       combo_del {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp BACKSPACE>;
        };
    };

behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

};

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q &kp W &kp F &kp P &kp B 						&kp J &kp L  &kp U    &kp Y   &kp SEMI 
		&kp A &hm LCTRL R &hm LALT S &hm LGUI T &kp G 			        &kp M &hm RGUI N  &hm LALT E  &hm LCTRL I  &kp O
		&kp Z &kp X &kp C &kp D &kp V				                &kp K &kp H  &kp COMMA &kp DOT &kp SLASH
          				&hm LSHIFT SPACE &kp ESC  			&hm RSHIFT ENTER &to 1 
		>;
		};

       		left_layer {
		bindings = <
		&kp N0    &kp N1      &kp N2          &kp N3      &kp LPAR 		&kp RPAR &kp EQUAL &kp PLUS  &kp BSLH  &kp BACKSPACE
		&kp TAB    &hm LCTRL N4 &hm LALT N5   &hm LGUI N6 &kp LBKT 		&kp RBKT &hm RGUI LEFT   &hm RALT DOWN &hm RCTL UP   &kp RIGHT  
		&kp TILDE  &kp N7      &kp N8         &kp N9      &kp SQT 		&kp MINUS &trans   &kp J  &kp K   &kp GRAVE 
					    	      &hm LSHIFT SPACE  &to 0		&hm RSHIFT ENTER &to 2 
		>;
		};
		
		right_layer {
		bindings = <
		&kp ESC  &kp F1 &kp F2  &kp F3  &kp F4    				&kp F5  &kp F6 &kp F7 &kp F8 &kp F9 
		&kp TAB  &kp F10 &kp F11 &kp F12 &trans  				&trans  &kp PSCRN &trans  &trans   &trans
		&kp LSFT  &trans  &trans  &trans &trans     				&trans  &trans  &trans  &trans   &trans
					  &hm LSHIFT SPACE &to 0  			&kp LALT  &to 3 
		>;
		};	
		
		tri_layer {
		bindings = <
		&kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5 			&bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4
		&kp F1 &kp F2 &kp F3 &kp F4 &kp F5  						&trans &kp PG_UP  &kp K_VOL_UP &kp K_MUTE &to 4 
		&bt BT_CLR  &bt BT_NXT &bt BT_PRV &kp F6 &kp F7   				&trans &kp PG_DN  &kp K_VOL_DN  &trans &trans   
					 		&to 0 &to 0  				&trans &to 3 
		>;
		};	
        
		game_layer {
		bindings = <
		&kp ESC  &kp Q    &kp W    &kp E    &kp R 			&kp T &kp Y   &kp U   &kp I  &to 0
		&kp TAB &kp A &kp S &kp D &kp F  				&kp G &kp H  &kp J &kp K &kp L 
		&kp LCTRL  &kp Z &kp X &kp C &kp V   				&kp B &kp N  &kp M  &kp O &kp P   
					 &kp LSHIFT &kp SPACE  			&kp LCTRL &kp RCTRL 
		>;
		};	
	};
};
